<a href="https://colab.research.google.com/github/pi-mishra/KPMG_internship/blob/main/KPMG_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import numpy as np
import warnings
warnings = 'ignore'

In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
Transactions= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='Transactions')
NewCustomerList= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='NewCustomerList')
CustomerDemographic= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerDemographic')
CustomerAddress= pd.read_excel("/content/drive/MyDrive/KPMG/KPMG_VI_New_raw_data_update_final (2).xlsx",sheet_name='CustomerAddress')

# Transactions

In [91]:
#checking the first 5 rows

Transactions.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145

In [92]:
# defining funtion to modify dataframe for analysis

def row_to_column(df):
    # Assign the first row as column names
    df.columns = df.iloc[0, :]

    # Drop the first row
    df = df.drop(0).reset_index(drop=True)

    # Remove the column names' index (name=0)
    df.columns.name = None

    return df  # Return the modified DataFrame

In [98]:
# modifying the dataframe

Transactions = row_to_column(Transactions)

In [100]:
# defining a function to get the datatype, null and duplicates

def dataframe_info(df):
    # Get data types of columns
    print("DATA TYPES")
    print(df.dtypes)
    print("-"*50)

    # Get the count of null values in each column
    print("Null Value Sum")
    print(df.isnull().sum())
    print("-"*50)

    # Get the count of duplicate rows
    print(f"Duplicate Rows = {df.duplicated().sum()}")

    return

In [101]:
# Getting the datatype , null and duplicates

dataframe_info(Transactions)

DATA TYPES
transaction_id             object
product_id                 object
customer_id                object
transaction_date           object
online_order               object
order_status               object
brand                      object
product_line               object
product_class              object
product_size               object
list_price                 object
standard_cost              object
product_first_sold_date    object
dtype: object
--------------------------------------------------
Null Value Sum
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64
--------------------------------------------------
Duplicate Rows = 0

## Observations of transactions dataframe-

* Data Types of the columns in the dataframe are not correct.
* There are multiple missing values in dataframe
* There are no null values

In [11]:
#checking the datatype of columns

NewCustomerList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   object
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   object
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   object
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   object
 16  nan                                  1000 non-null   float64
 17  nan                                  1000 non-null   float64
 18  nan                                  1000 non-null   float64
 19  nan                                  1000 non-null   float64
 20  nan                                  1000 non-null   float64
 21  Rank                                 1000 non-null   object
 22  Value                                1000 non-null   object
dtypes: float64(5), object(18)
memory usage: 179.8+ KB

In [ ]:
#checking the overall description of data

NewCustomerList.describe(include='all')

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,NaN,NaN,NaN,NaN,NaN,Rank,Value
count,1000,971,1000,1000,983,894,835,1000,1000,1000,...,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.0000
unique,940,961,3,100,961,184,9,3,1,2,...,3,1,16,NaN,NaN,NaN,NaN,NaN,324.0,324.0000
top,Rozamond,Sissel,Female,60,1965-07-03,Associate Professor,Financial Services,Mass Customer,N,No,...,NSW,Australia,9,NaN,NaN,NaN,NaN,NaN,760.0,0.6375
freq,3,2,513,20,2,15,203,508,1000,507,...,506,1000,173,NaN,NaN,NaN,NaN,NaN,13.0,13.0000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.747340,0.839005,0.942673,0.870514,498.819000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.205082,0.248858,0.294832,0.280891,288.810997,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.400000,0.400000,0.400000,0.340000,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.570000,0.637500,0.712500,0.658750,250.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.750000,0.820000,0.912500,0.842625,500.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.920000,1.031875,1.142969,1.062500,750.250000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.100000,1.375000,1.718750,1.718750,1000.000000,NaN,NaN

In [ ]:
#checking for null values

NewCustomerList.isnull().mean()

0
first_name                             0.000
last_name                              0.029
gender                                 0.000
past_3_years_bike_related_purchases    0.000
DOB                                    0.017
job_title                              0.106
job_industry_category                  0.165
wealth_segment                         0.000
deceased_indicator                     0.000
owns_car                               0.000
tenure                                 0.000
address                                0.000
postcode                               0.000
state                                  0.000
country                                0.000
property_valuation                     0.000
NaN                                    0.000
NaN                                    0.000
NaN                                    0.000
NaN                                    0.000
NaN                                    0.000
Rank                                   0.000
Value                                  0.000
dtype: float64

In [ ]:
#checking for dublicates

NewCustomerList.duplicated().mean()

0.0

Observation of NewCustomerList dataframe-

* The df column name was not correct, as per our observation the row 1 was the made the column name.
* All the the data are in object format, we need to change it accordingly
* There are null rows in df and null columns also
* There are no duplicate values

# CustomerDemographic

In [ ]:
#checking for the first 5 rows

CustomerDemographic.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11
2,2,Eli,Bockman,Male,81,1980-12-16 00:00:00,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16
3,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15
4,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7

In [14]:
#changing the column name to first row

CustomerDemographic.columns = CustomerDemographic.iloc[0,:]

CustomerDemographic = CustomerDemographic.drop(0).reset_index(drop=True)

In [ ]:
for i in cu

In [28]:
Transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
1,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
2,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
3,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145
4,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24 00:00:00,True,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.4,37823
19996,19997,41,127,2017-11-09 00:00:00,True,Approved,Solex,Road,medium,medium,416.98,312.74,35560
19997,19998,87,2284,2017-04-14 00:00:00,True,Approved,OHM Cycles,Standard,medium,medium,1636.9,44.71,40410
19998,19999,6,2764,2017-07-03 00:00:00,False,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216
19999,20000,11,1144,2017-09-22 00:00:00,True,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334

In [15]:
#checking for the datatype

CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   object
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   object
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   object
dtypes: object(13)
memory usage: 406.4+ KB

In [ ]:
#checking for the data description

CustomerDemographic.describe()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
count,4000,4000,3875,4000,4000,3913,3494,3344,4000,4000,3698,4000,3913
unique,4000,3139,3725,6,100,3448,195,9,3,2,90,2,22
top,1,Max,Pristnor,Female,16,1978-01-30 00:00:00,Business Systems Development Analyst,Manufacturing,Mass Customer,N,100,Yes,7
freq,1,5,3,2037,56,7,45,799,2000,3998,113,2024,235

In [ ]:
# checking for null values

CustomerDemographic.isnull().mean()

0
customer_id                            0.00000
first_name                             0.00000
last_name                              0.03125
gender                                 0.00000
past_3_years_bike_related_purchases    0.00000
DOB                                    0.02175
job_title                              0.12650
job_industry_category                  0.16400
wealth_segment                         0.00000
deceased_indicator                     0.00000
default                                0.07550
owns_car                               0.00000
tenure                                 0.02175
dtype: float64

In [ ]:
#checking for duplicates

CustomerDemographic.duplicated().mean()

0.0

Observation of CustomerDemographic dataframe-

The df column name was not correct, as per our observation the row 1 was the made the column name.

All the the data are in object format, we need to change it accordingly

There are null rows in df and irrelevant columns

There are no duplicate values

CustomerAddress

In [ ]:
#getting the first 5 rows of df

CustomerAddress.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,New South Wales,Australia,4

In [12]:
#changing the column name to first row

CustomerAddress.columns = CustomerAddress.iloc[0,:]

CustomerAddress = CustomerAddress.drop(0).reset_index(drop=True)

In [13]:
#checking for the datatype

CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [ ]:
#checking for the data description

CustomerAddress.describe()

,customer_id,address,postcode,state,country,property_valuation
count,3999,3999,3999,3999,3999,3999
unique,3999,3996,873,5,1,12
top,1,3 Mariners Cove Terrace,2170,NSW,Australia,9
freq,1,2,31,2054,3999,647

In [ ]:
# checking for null values

CustomerAddress.isnull().mean()

0
customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

In [ ]:
#checking for duplicates

CustomerAddress.duplicated().mean()

0.0

Observation of CustomerDemographic dataframe-

The df column name was not correct, as per our observation the row 1 was the made the column name.

All the the data are in object format, we need to change it accordingly

There are no null rows or duplicate rows or columns

# Data cleaning

Transactions

In [ ]:
Transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  object
 1   product_id               20000 non-null  object
 2   customer_id              20000 non-null  object
 3   transaction_date         20000 non-null  object
 4   online_order             19640 non-null  object
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  object
 11  standard_cost            19803 non-null  object
 12  product_first_sold_date  19803 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB

In [ ]:
Transactions['list_price'].sum()

22156588.98000054